 
a{
    color: red;
}
p{
    color:gold

}
* {
    box-sizing: border-box;
  }
.w3-panel{
    color:purple;
}
h1{
    color:darkorange;
    text-align: center;

}
.container{
    
    background-color:lightgreen;
     
     
}
 
