<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div id="left-column">
         <h2>CYBER THREATS</h2>
         <ul>
            <b>Ransomware Attack</b>
            <li>On 20 December 2022, The Guardian newspaper in the UK was the subject of a ransomware attack. The immediate effect was to cause the company to ask staff to work remotely while internal systems were disconnected and triaged.</li>
            <b>SolarWinds Hack:</b>
            <li>In December 2020, it was revealed that Russian hackers had breached the software company SolarWinds, allowing them to gain access to multiple government and private networks, including sensitive data.</li>
            <b>COVID-19 Related Cyber Threats:</b>
            <li>Throughout the ongoing pandemic, cybercriminals have taken advantage of the situation through various scams and phishing attacks. These include fake COVID-19 vaccine websites, phishing emails posing as health organizations, and fraudulent schemes related to financial relief programs.</li>
        <b>Microsoft Exchange Server Vulnerabilities</b>
        <li>In early 2021, it was discovered that a group of Chinese hackers had exploited vulnerabilities in Microsoft Exchange Server, a widely used email server software. The cyberattack allowed the hackers to gain unauthorized access to email accounts, steal data, and install malware.</li>
     <b>Kid Security</b>
     <li>The popular parental control app Kid Security, which allows parents to monitor and control their children s online safety, exposed user activity logs to the Internet for more than a month via misconfigured Elasticsearch and Logstash instances.
    The security researcher Bob Diachenko of SecurityDiscovery first identified the exposed information in mid-September. 
        </ul>

    </div>
    
    <div id="right-column">
        <h2> PREVENTIVE MEASURES</h2>
        <b>Password</b>
        <li>
            Having the same password setup for everything can be dangerous. Once a hacker figures out your password, they now have access to everything in your system and any application you use.
            Having different passwords setup for every application you use is a real benefit to your security, and changing them often will maintain a high level of protection against external and internal threats.
        </li>
        <b>Back Up your Data</b>
        <li>
            In the event of a disaster (often a cyber attack) you must have your data backed up to avoid serious downtime, loss of data and serious financial loss.
        </li>
        <b>WIFI Security</b>
        <li>
            Securing your wifi networks and hiding them is one of the safest things you can do for you systems. With wireless technology developing more and more everyday there’s thousands of devices that can connect to your network and compromise you.
        </li>
        <b>Install a Firewall</b>
         <li>Putting your network behind a firewall is one of the most effective ways to defend yourself from any cyber attack. A firewall system will block any brute force attacks made on your network and/or systems before it can do any damage, something we can help you with.</li>
  <h2>Free software&tools for cyber security</h2>  
  <b>Malwarebytes</b>
  <li>https://www.malwarebytes.com/</li>
  <b>Avast Free Antivirus </b>
  <li>https://www.avast.com/free-antivirus-download</li>
  <b>Microsoft Defender Antivirus </b>
  <li>https://www.microsoft.com/en-us/windows/security-defender</li>
  <b>Wireshark</b>
  <li>https://www.wireshark.org/</li>
        </div>
</body>
</html>
